@import url('https://fonts.googleapis.com/css2? family= Oswald & display=swap');

.my-name {
    font-family: 'Oswald', Georgia, Times New Roman, Times, sans-serif;
    text-transform: uppercase;
    color: burlywood;
    font-style: italic;
    background-color: brown;
    display: grid;
    justify-items: center;
    margin: 0;
    border-style: dotted;
}

.nni-akot-specialty {
    font-family: Oswald, Georgia, Times New Roman, Times, sans-serif;
    text-transform: uppercase;
    color: burlywood;
    font-style: italic;
    background-color: brown;
    display: grid;
    justify-items: center;
    margin: 0;
    border-style: dotted;
}

.image {
    width: 400px;
    height: 200px;
    border-style: groove;
    border-color: black;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 2px solid red;
    text-align: center;
}

table th {
    border: 10px ridge;
    text-align: center;
}
p{
    text-decoration: overline;
}
a:visited {
    color: black;
    /* Колір для відвіданих гіперпосилань */
}

a:active {
    color: red;
    /* Колір для активних гіперпосилань */
}